

 img {
  width: 100%;
  object-fit: cover; /* Maintain aspect ratio and cover the entire container */
  transition: transform 0.3s; /* Smooth scaling on hover */
}
.container {
  max-width: 1200px; 
  margin: 0 auto; 
}

.hover-scale {
  height: 100%;
  width: 100%;
  object-fit: cover; 
  transition: transform 0.3s;
}

.hover-scale:hover {
  transform: scale(1.05); 
}

.text-center {
  padding: 10px; 
  height: 100px; 
}

.text-center h2,
.text-center h3 {
  margin: 0; 
}

h2 {
  font-size: 1.5rem; 
}

h3 {
  font-size: 1.2rem; 
  color: #6c757d; 
}

.row {
  margin-bottom: 30px; 
}

.col-md-4 {
  display: flex; 
  flex-direction: column; 
  justify-content: space-between; 
  
}
