
<div class="container-fluid bg-main py-5 " [attr.dir]="language === 'ar' ? 'rtl' : 'ltr'">

    <h2 class="text-center text-main fw-bold mb-3 mt-5 pt-5">{{ 'TEAM.NAME' | translate }}</h2>
    <div class="container py-3 mt-5 w-75">
      <!-- board directors Section -->
    
      <div class="row gy-4">
        <!-- Column 1 -->
        <div class="col-md-4 col-12 d-flex mb-4">
          <div class="d-flex flex-column justify-content-between w-100">
            <!-- Image -->
            <div class="d-flex justify-content-center mb-3">
              <img src="./assets/Images/ahmed.jpg" alt="Ahmad Raafat" class="w-75 hover-scale">
            </div>
            <!-- Content -->
            <div class="text-center">
              <h2>{{ 'TEAM.MEMBER1.NAME' | translate }}</h2>
              <h3 class="text-secondary lead fw-bold">{{ 'TEAM.MEMBER1.TITLE' | translate }}</h3>
            </div>
          </div>
        </div>
    
        <!-- Column 2 -->
        <div class="col-md-4 col-12 d-flex mb-4">
          <div class="d-flex flex-column justify-content-between w-100">
            <!-- Image -->
            <div class="d-flex justify-content-center mb-3">
              <img src="./assets/Images/hanan.jpg" alt="Hanan Sulaiman" class="w-75 hover-scale">
            </div>
            <!-- Content -->
            <div class="text-center">
              <h2>{{ 'TEAM.MEMBER2.NAME' | translate }}</h2>
              <h3 class="text-secondary lead fw-bold">{{ 'TEAM.MEMBER2.TITLE' | translate }}</h3>
            </div>
          </div>
        </div>
    
        <!-- Column 3 -->
        <div class="col-md-4 col-12 d-flex mb-4">
          <div class="d-flex flex-column justify-content-between w-100">
            <!-- Image -->
            <div class="d-flex justify-content-center mb-3">
              <img src="./assets/Images/ali.jpg" alt="Ali Emad" class="w-75 hover-scale">
            </div>
            <!-- Content -->
            <div class="text-center">
              <h2>{{ 'TEAM.MEMBER3.NAME' | translate }}</h2>
              <h3 class="text-secondary lead fw-bold">{{ 'TEAM.MEMBER3.TITLE' | translate }}</h3>
            </div>
          </div>
        </div>
      </div>
    
      <div class="row justify-content-center gy-4">
        <!-- Column 4 -->
        <div class="col-md-4 col-12 d-flex mb-4">
          <div class="d-flex flex-column justify-content-between w-100">
            <div class="d-flex justify-content-center mb-3">
              <img src="./assets/Images/ghada.jpg" alt="Ghada Abu El-Magd" class="w-75 hover-scale">
            </div>
            <div class="text-center">
              <h2>{{ 'TEAM.MEMBER4.NAME' | translate }}</h2>
              <h3 class="text-secondary lead fw-bold">{{ 'TEAM.MEMBER4.TITLE' | translate }}</h3>
            </div>
          </div>
        </div>
      
        <!-- Column 5 -->
        <div class="col-md-4 col-12 d-flex mb-4">
          <div class="d-flex flex-column justify-content-between w-100">
            <div class="d-flex justify-content-center mb-3">
              <img src="./assets/Images/mohamed.jpg" alt="Muhammad Abu Shanab" class="w-75 hover-scale">
            </div>
            <div class="text-center">
              <h2>{{ 'TEAM.MEMBER5.NAME' | translate }}</h2>
              <h3 class="text-secondary lead fw-bold">{{ 'TEAM.MEMBER5.TITLE' | translate }}</h3>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    
    </div>
    