.carousel-item {
    transition: transform 0.5s ease, opacity 0.5s ease; 
    display: none; 
}

.carousel-item.active {
    display: flex;
    flex-direction: row; /* Default to row layout for larger screens */
    align-items: center;
}

[dir="rtl"] .carousel-item {
    flex-direction: row; /* Keep the default direction for Arabic */
}

[dir="rtl"] .text-container {
    text-align: right; /* Right-align text for Arabic */
}

[dir="ltr"] .text-container {
    text-align: left; /* Left-align text for English */
}


h3,p,.color
{color: #ffffff}
/* Media Query for small screens */
@media (max-width: 767px) {
  
    h3 {
        font-size: 1.4rem; /* Adjust font size */
    }

    p {
        font-size: 1.1rem; /* Adjust font size */
    }

    .carousel-item {
        flex-direction: column; /* Stack image and text vertically */
        text-align: center; /* Center align for better mobile view */
    }
    
    .carousel-item img {
        width: 100%; /* Ensure the image takes full width */
        height: auto; /* Maintain aspect ratio */
        order: 1; /* Image first */
    }
    
    .text-container {
        text-align: center; /* Center text on small screens */
        order: 2; /* Text second */
    }
}